venv

### Mac OS X ###
.DS_Store

### Vagrant ###
.vagrant/

## Python ## 
*.pyc
pip-log.txt
ENV/*

## Django ##
build/*

## VIM ##
*.swp

## Settings Configurations ##
fellowship_application_full/settings_hidden.py
