{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}



<h1>This is your application progress.</h1>
<hr class="form">

  <p>Welcome. When you're done....</b></p>

    <br><br>
        <div class="form-group"><!-- S -->
          <div class="col-xs-4">
              <button onClick='location.href="{% url 'profile' %}"' class="btn btn-lg {% if self.profile_complete %}btn-success{% else %}btn-info {% endif %}">Profile</button>
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <div class="col-xs-4">
              <button onClick='location.href="{% url 'tech' %}"' class="btn btn-lg {% if self.tech_questions_complete %}btn-success{% else %}btn-info {% endif %}">Tech experience</button>
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <div class="col-xs-4">
              <button onClick='location.href="{% url 'shortanswers' %}"' class="btn btn-lg {% if self.shortanswers_complete %}btn-success{% else %}btn-info {% endif %}">Short Answers</button>
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <div class="col-xs-4">
              <button onClick='location.href="{% url 'recommenders' %}"' class="btn btn-lg {% if self.recommenders_complete %}btn-success{% else %}btn-info {% endif %}">Recommenders</button>
          </div>
        </div><!-- E -->



        <div class="form-group"><!-- S XXX-->
            <br>
          <div class="col-xs-6">
          <button id="next" type="submit" class="btn btn-form pull-right {% if not user.application_complete %}disabled{% endif %}">Submit your final application &gt; &gt;</button>
          </div><br><br><br>
        </div><!-- E -->


{% endblock %}
