body {
  background-color:white;
  font-size: 2em;}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto 0px;
}

.green-text {
  color: #AEBE37;
  }

.white-text {
  color: #FFFFFF;
  }

.green-background {
  background-color: #AEBE37;
  border-color: #AEBE37;
  }

.silver-text {
  color: #9DA8AA; 
  }

.silver-background {
  background-color: #9DA8AA; 
  }

.purple-text {
  color: #21204A;
  }

.purple-background {
  background-color: #21204A;
  }

.alert .alert-error {
  color: #21204A;
}

h1, h2, h3, h4, h5, a, label, b, strong {
  color: #21204A;
}

.page-header {
  background:url(../img/composite-header.png);
  background-size: auto auto;
  background-repeat: no-repeat;
  background-color: #21204A;
  border: none;
  margin: 0px;
  padding: 0px;
  color: white;
}

.navbar-default {
  color: #21204A;
  background-color: #21204A;
  border-color: #9DA8AA;
  border-width: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #9DA8AA;
}

.footer {
  width: 100%;
  height: auto;
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #21204A;
  color: white;
  }


.btn-success, .btn-login {
  background-color: #AEBE37;
  border-color: #8d9e12;
  color: white;
}

.btn-success:hover, .btn-login:hover {
  background-color: #8d9e12;
  border-color: #8d9e12;
}

.btn-success:focus, .btn-login:focus {
  background-color: #8d9e12;
  border-color: #8d9e12;
}