{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<br>
<h1>Welcome to the Code for Progress 2015 Fellowship application portal</h1>
<br>
 
<br>

    <div class="row">

      <div class="col-sm-6">
         <hr>
         <h3>Start a new application</h3>
         <hr>
           <br>
           <div class="col-sm-6 col-sm-offset-2">
              <button class="btn btn-lg btn-login btn-block" onClick='location.href="{% url 'createaccount' %}"'>Begin >></button><br><br><br>
           </div>
      </div>



      <div class="col-sm-6">
         <hr>
         <h3>Already started an application or here to complete a recommendation? Log in below.</h3>
		     <hr><br>
            <form class="form-horizontal text-center" role="form" method="post" action=".">
              {% csrf_token %}

                	  <div class="form-group">
                       <div class="col-sm-6 col-sm-offset-2">
                         {% render_field form.username class+="form-control text" placeholder="Username" %}
                       </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-6 col-sm-offset-2">
                         {% render_field form.password class+="form-control" placeholder="Password" %}
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-6">
                      {% if form.errors %}
                  		<p class="text-danger">Hmm, that's not the right username / password.<br /></p>
                  		{% endif %}
                        <button type="submit" class="btn btn-lg btn-login btn-block">Sign in</button>
                      </div>
                    </div>
              
                    <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-6">
                      	<a href="{% url 'forgot_password' %}" class="forgot">Forgot your password?</a><br><br><br><br>
                      </div>
                    </div>

            	      <input type="hidden" name="next" value="{{ next }}" />
            </form>
      </div>

<!-- ROW END -->
    </div>

	{% endblock %}
