{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}


<div><!-- Form Start-->
<form class="form-horizontal" name="form" action="" method="post">
{% csrf_token %}

<h1 class="nopadding">Edit {{recommender.user.first_name}} {{recommender.user.last_name}}'s info</h1>
<hr class="form">

  <p>Please enter any updated/corrected info here. If you want to send a new login email, you can do that from your dashboard screen after you save these changes.</b></p>

    <br><br>
    <hr class="form">
    <br>
        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">First/given names</label>
          <div class="col-md-4">
          {% render_field form.first_name class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">Last/family names</label>
          <div class="col-md-4">
          {% render_field form.last_name class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">Email</label>
          <div class="col-md-4">
          {% render_field form.email class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">How do you know this recommender?</label>
          <div class="col-md-4">
          {% render_field form.relationship class+="form-control" %}
          </div>
        </div><!-- E -->


    <br><br>

        <div class="form-group"><!-- S XXX-->
            <br><br>
          <div class="col-md-8 col-md-offset-4">
            <div onClick='location.href="{% url 'applicant_index' %}"' class="btn btn-lg btn-default">
          Cancel
        </div>
            <button id="next" type="submit" class="btn btn-lg btn-form btn-success">Save changes &gt; &gt;</button>
          </div><br><br><br><br><br>
        </div><!-- E -->
  
   
    
</form><!-- Form End-->
</div><!-- Form End-->


{% endblock %}
