{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}


<div><!-- Form Start-->

<h1 class="nopadding">Password reset</h1>
<hr class="form">

    <br><br>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
            Your password has been reset and emailed to you.
            </div>
          </div>


        <div class="form-group"><!-- S XXX-->
            <br>
          <div class="col-md-8 col-md-offset-1">
            <button class="btn btn-lg btn-form btn-success" onClick='location.href="{% url 'index' %}"'>Back to login page &gt; &gt;</button>
          </div><br><br><br><br><br>
        </div><!-- E -->
  
   
</div><!-- Form End-->


{% endblock %}
