{% extends "base.html" %}
{% block content %}

    <div class="contentholder">
        <h2>Forgot your password?</h2>
    </div>

        
    <div id="loginbox">
    <br><br>

    <form class="form-horizontal" name="form" action="" method="post">
    {% csrf_token %}
        Email {{form.email}}


    <p>When you're ready, click Reset to send a temporary password to the email you've entered.</p>

    <button type="submit" class="btn btn-form">Reset &gt; &gt;</button>

    </form>

    



    </div>
    {% endblock %}
