{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}


<div><!-- Form Start-->
<form class="form-horizontal" name="form" action="" method="post">
{% csrf_token %}

<h1 class="nopadding">Tell us who we can ask about you!</h1>
<hr class="form">

  <p>We'd like to hear from three people who know about you, your passions, and your skills – either at home, at work, or in your community. You'll need to check with them to see if they are willing to answer some short questions about you before March 31, 2015, and to make sure they are not also applying to the Code for Progress fellowship.</p><br>

  <p>Once you submit your complete application, we'll send your recommenders an email to help them log in and get started on your recommendation. Your recommenders do not need to have home internet access, but for the purposes of this application please select people who do have access to email. You should plan to turn in your application at least two weeks before March 31, so that your recommenders will have time to do their part. After you submit your application, you'll be able to log back in to see which recommenders have finished their recommendations.</p><br>

  <b>Our selection committee can't consider applicants who don't have three submitted recommendations, so it is very important that you check back with the people you've picked! We highly recommend that you reach out to your recommenders today, explain the Fellowship to them, and ask if they are willing to fill out the questions by the deadline.</b></p><br>

  <p>All questions on this page are required.</p>


    <br><br>
    <h3>Recommender 1</h3>
    <hr class="form">
    <br>
        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">First/given names</label>
          <div class="col-md-4">
          {% render_field form.rec1firstname class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">Last/family names</label>
          <div class="col-md-4">
          {% render_field form.rec1lastname class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">Email</label>
          <div class="col-md-4">
          {% render_field form.rec1email class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">How do you know this recommender?</label>
          <div class="col-md-4">
          {% render_field form.rec1relationship class+="form-control" %}
          </div>
        </div><!-- E -->


    <br><br>
    <h3>Recommender 2</h3>
    <hr class="form">
    <br>
        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">First/given names</label>
          <div class="col-md-4">
          {% render_field form.rec2firstname class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">Last/family names</label>
          <div class="col-md-4">
          {% render_field form.rec2lastname class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">Email</label>
          <div class="col-md-4">
          {% render_field form.rec2email class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">How do you know this recommender?</label>
          <div class="col-md-4">
          {% render_field form.rec2relationship class+="form-control" %}
          </div>
        </div><!-- E -->



    <br><br>
    <h3>Recommender 3</h3>
    <hr class="form">
    <br>
        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">First/given names</label>
          <div class="col-md-4">
          {% render_field form.rec3firstname class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">Last/family names</label>
          <div class="col-md-4">
          {% render_field form.rec3lastname class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">Email</label>
          <div class="col-md-4">
          {% render_field form.rec3email class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">How do you know this recommender?</label>
          <div class="col-md-4">
          {% render_field form.rec3relationship class+="form-control" %}
          </div>
        </div><!-- E -->


        <div class="form-group"><!-- S XXX-->
            <br><br>
          <div class="col-md-6 col-md-offset-6">
            <div onClick='location.href="{% url 'index' %}"' class="btn btn-lg btn-default">
          Cancel
        </div>
            <button id="next" type="submit" class="btn btn-lg btn-form btn-success">Save these answers &gt; &gt;</button>
          </div><br><br><br><br><br>
        </div><!-- E -->
  
   
    
</form><!-- Form End-->
</div><!-- Form End-->


{% endblock %}
