{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}


<div><!-- Form Start-->
<form class="form-horizontal" name="form" action="" method="post">
{% csrf_token %}

<h1 class="nopadding">Tell us who we can ask about you!</h1>
<hr class="form">

  <p>We'd like to hear from three people who know you – either at home, at work, or in your community. Try to pick people who know you in different parts of your life, and who know about your passions and your skills. You'll also need to check with them first to see if they are willing to answer some questions about you, and if they can do that before March 15, 2015.<b> When you pick your recommenders, please choose people who are not also applying to the Code for Progress program as students.</b></p>

  <p>As soon as you submit your whole application, we'll send your recommenders some questions about you that they can answer online. If you pick someone who does not use email, please send a separate email with their phone number to <b>applications@codeforprogress.org</b> so that we can get in touch with them.</p>
  
  <p>After that, you'll just need to check with your recommenders to make sure they give us their answers before March 15. That means you should turn in your application early - so your recommenders will have time to do their part. After you submit your application, you'll also be able see which recommenders have finished their applications when you log back into this application. <b>Our selection committee can't consider applicants who don't have three recommendations, so it is very important that you check back with the people you've picked! We highly recommend that you reach out to your recommenders today, explain the Fellowship to them and ask if they are willing to fill out the questions by the deadline.</b></p>


    <br><br>
    <h3>Recommender 1</h3>
    <hr class="form">
    <br>
        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">First/given names</label>
          <div class="col-md-4">
          {% render_field form.rec1firstname class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">Last/family names</label>
          <div class="col-md-4">
          {% render_field form.rec1lastname class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">Email</label>
          <div class="col-md-4">
          {% render_field form.rec1email class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">How do you know this recommender?</label>
          <div class="col-md-4">
          {% render_field form.rec1relationship class+="form-control" %}
          </div>
        </div><!-- E -->


    <br><br>
    <h3>Recommender 2</h3>
    <hr class="form">
    <br>
        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">First/given names</label>
          <div class="col-md-4">
          {% render_field form.rec2firstname class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">Last/family names</label>
          <div class="col-md-4">
          {% render_field form.rec2lastname class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">Email</label>
          <div class="col-md-4">
          {% render_field form.rec2email class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">How do you know this recommender?</label>
          <div class="col-md-4">
          {% render_field form.rec2relationship class+="form-control" %}
          </div>
        </div><!-- E -->



    <br><br>
    <h3>Recommender 3</h3>
    <hr class="form">
    <br>
        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">First/given names</label>
          <div class="col-md-4">
          {% render_field form.rec3firstname class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">Last/family names</label>
          <div class="col-md-4">
          {% render_field form.rec3lastname class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">Email</label>
          <div class="col-md-4">
          {% render_field form.rec3email class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-md-4 control-label pull-left">How do you know this recommender?</label>
          <div class="col-md-4">
          {% render_field form.rec3relationship class+="form-control" %}
          </div>
        </div><!-- E -->


        <div class="form-group"><!-- S XXX-->
            <br><br>
          <div class="col-md-6 col-md-offset-6">
            <div onClick='location.href="{% url 'index' %}"' class="btn btn-lg btn-default">
          Cancel
        </div>
            <button id="next" type="submit" class="btn btn-lg btn-form btn-success">Save these answers &gt; &gt;</button>
          </div><br><br><br><br><br>
        </div><!-- E -->
  
   
    
</form><!-- Form End-->
</div><!-- Form End-->


{% endblock %}
