{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

    
    <div class="contentholder">
        <h2>Reset password</h2>
    </div>

        
    <br><br>

    <form class="form-horizontal" name="form" action="" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <b>New password</b>:
                </div>
                <div class="col-sm-4">
                    {% render_field form.password class+="form-control" placeholder="Please enter at least 8 characters" %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-3">
                    <b>Retype new password</b>:
                </div>
                <div class="col-sm-4">
                    {% render_field form.password_confirmation class+="form-control" %}
                </div>
            </div>

    <br>
    
    <div class="form-group"><!-- S XXX-->
        <br><br>
        <div class="col-sm-4 col-sm-offset-8">
            <div onClick='location.href="{% url 'profile' %}"' class="btn-lg btn btn-default">
          Cancel
            </div>
            <button type="submit" class="btn btn-form btn-lg btn-success">Save &gt; &gt;</button>
        </div><br><br><br><br><br>
    </div><!-- E -->

    </form>
    <br><br><br><br><br><br>


    {% endblock %}
