{% extends "login_base.html" %}
{% block content %}

    
    <div class="contentholder">
        <h2>Reset password</h2>
    </div>

        
    <br><br>

    <form class="form-horizontal" name="form" action="" method="post">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <b>New password</b>:
                </div>
                <div class="col-xs-4">
                    {{form.password}}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-3">
                    <b>Retype new password</b>:
                </div>
                <div class="col-xs-4">
                    {{form.password_confirmation}}
                </div>
            </div>

    <br>
    <button type="submit" class="btn btn-form">Save &gt; &gt;</button>

    </form>
    <br><br>


    {% endblock %}
