{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}


<div><!-- Form Start-->
<form class="form-horizontal" name="form" action="" method="post">
{% csrf_token %}

<h1 class="nopadding">Tell us how you use technology.</h1>
<hr class="form">
    
    <p>We'd like to know how you're thinking about the role of this program in your personal, work, and community life. </p>


        <br><br><br>

        <div class="form-group"><!-- S -->
          <div class="col-sm-10 left">1. What will this training help you to do in your community or organization that you can't already do?</div><br><br>
          <div class="col-xs-10">
          {% render_field form.shortanswer1 class+="form-control" %}
          </div>
        </div><!-- E -->


        <br><br><br>

        <div class="form-group"><!-- S -->
          <div class="col-sm-10 left">2. What kind of employment do you plan to look for after you finish the residency for this program?</div><br><br>
          <div class="col-xs-10">
          {% render_field form.shortanswer2 class+="form-control" %}
          </div>
        </div><!-- E -->

        <br><br><br>

        <div class="form-group"><!-- S -->
          <div class="col-sm-10 left">3. What steps do you usually follow when looking for a job?</div><br><br>
          <div class="col-xs-10">
          {% render_field form.shortanswer3 class+="form-control" %}
          </div>
        </div><!-- E -->

        <br><br><br>

        <div class="form-group"><!-- S -->
          <div class="col-sm-10 left">4. Tell us about a time when you experienced conflict or stress in a professional environment and how you handled it.</div><br><br><br>
          <div class="col-xs-10">
          {% render_field form.shortanswer4 class+="form-control" %}
          </div>
        </div><!-- E -->

        <br><br><br>

        <div class="form-group"><!-- S -->
          <div class="col-sm-10 left">5. Who is/was a real person who taught you about justice, and what specific things did you learn from them? What have you done to put what you learned from them into action?</div><br><br><br>
          <div class="col-xs-10">
          {% render_field form.shortanswer4 class+="form-control" %}
          </div>
        </div><!-- E -->

        <br><br><br>

        <div class="form-group"><!-- S -->
          <div class="col-sm-10 left">6. If accepted as a Fellow, who is someone you will ask to mentor you, and why? (This can be someone in your personal, work, or community life - but it should be a person you might actually ask. </div><br><br><br>
          <div class="col-xs-10">
          {% render_field form.shortanswer2 class+="form-control" %}
          </div>
        </div><!-- E -->

        <br><br><br>

        <div class="form-group"><!-- S -->
          <div class="col-sm-10 left">7. Who is someone that you are currently mentoring? What things do you do to mentor them?</div><br><br>
          <div class="col-xs-10">
          {% render_field form.shortanswer7 class+="form-control" %}
          </div>
        </div><!-- E -->

        <br><br><br>

        <div class="form-group"><!-- S -->
          <div class="col-sm-10 left">8. Think of a person whose leadership you admire, but whose style of leading is different than your own. What do you admire about their leadership, and how does it differ from yours?</div><br><br><br>
          <div class="col-xs-10">
          {% render_field form.shortanswer8 class+="form-control" %}
          </div>
        </div><!-- E -->

        <br><br><br>

        <div class="form-group"><!-- S -->
          <div class="col-sm-10 left">9. What's an excellent piece of constructive criticism that you've gotten? What made it so good?</div><br><br>
          <div class="col-xs-10">
          {% render_field form.shortanswer9 class+="form-control" %}
          </div>
        </div><!-- E -->

        <br><br><br>

        <div class="form-group"><!-- S -->
          <div class="col-sm-10 left">10. Think about a problem that:
            <ul>
              <li>impacts people in your community or organization</li>
              <li>makes it harder for people to get the things they need</li>
              <li>you might be able to help solve by making an app, computer program, or system for passing around information</li>
            </ul>
            Describe the problem and explain why it's important to start solving it (don't tell us about the app yet).
          </div>
          <div class="col-xs-10"><br>
          {% render_field form.shortanswer10 class+="form-control" %}
          </div>
        </div><!-- E -->

        <br><br><br>

        <div class="form-group"><!-- S -->
          <div class="col-sm-10 left">11. (Use your answer to question 9 for this question). If you could make an app, computer program, or computer system for giving people information that might help to solve the problem, what would it let people do? You don't have to know how we could make it - just describe how someone would use it.</div>
          <div class="col-xs-10"><br>
          {% render_field form.shortanswer11 class+="form-control" %}
          </div>
        </div><!-- E -->

        <br><br><br>

        <div class="form-group"><!-- S -->
          <div class="col-sm-10 left">12. A lot of us already use apps and computer programs in different parts of our lives, even if we don't use computers very often. We might have a Facebook page, use a phone that has a contact list or address book, or have information about us stored on a website or computer because of a service we use (like a library card, or a card we use to pay for groceries). Name one app, program, or computer system that you use, and suggest one way to improve it.</div>
          <div class="col-xs-10"><br>
          {% render_field form.shortanswer12 class+="form-control" %}
          </div>
        </div><!-- E -->

        <br><br><br>

        <div class="form-group"><!-- S -->
          <div class="col-sm-10 left">13.  What are the three main things that you spend your time on? These could be organizations, projects, people, jobs, causes, hobbies - anything that has an important place in your life.</div><br><br><br>
          <div class="col-xs-10">
          {% render_field form.shortanswer13 class+="form-control" %}
          </div>
        </div><!-- E -->

        <br><br><br>

        <div class="form-group"><!-- S -->
          <div class="col-sm-10 left">14.  Is there anything else you'd like us to know about you?</div><br><br>
          <div class="col-xs-10">
          {% render_field form.anything_else class+="form-control" %}
          </div>
        </div><!-- E -->

        <br><br><br>

        <div class="form-group"><!-- S XXX-->
            <br><br>
          <div class="col-xs-4 col-xs-offset-8">
            <div onClick='location.href="{% url 'index' %}"' class="btn btn-lg btn-default">
          Cancel
            </div>
            <button id="next" type="submit" class="btn btn-lg btn-form btn-success">Save these answers &gt; &gt;</button>
          </div><br><br><br><br><br>
        </div><!-- E -->
   
    
</form><!-- Form End-->
</div><!-- Form End-->


{% endblock %}
