{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}


<div><!-- Form Start-->
<form class="form-horizontal" name="form" action="" method="post">
{% csrf_token %}

<h1 class="nopadding">Tell us how you use technology.</h1>
<hr class="form">

    <p>Code for Progress will teach you to do some pretty advanced things - but to get into the program, you should be comfortable typing on a computer, using a mouse, dragging around files and saving or changing their names, using email, and browsing the Internet. If you are selected as a finalist, we'll set up a video interview where you can show us your comfort level with some of these tasks.</p>

    <p>At this point, we'd still like to know a little bit about how you've used computers and the Internet, so please answer these questions for us.</p>
 
    <p>On a scale of 1-5 (where 1 means "I don't know what this is," and 5 means "I know this really well"), how familiar are you with:</p>


    <br><br><br>

    <h3>Working with a computer </h3>
    <hr class="form">
    <div><p>On a scale of 1-5 (where 1 means "I don't know what this is," and 5 means "I know this really well"), how familiar are you with:</p></div><br>
        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Typing on a computer</label>
          <div class="col-sm-2">
          {% render_field form.tech1b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Using a mouse</label>
          <div class="col-sm-2">
          {% render_field form.tech2b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Searching the Internet</label>
          <div class="col-sm-2">
          {% render_field form.tech3b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Saving a word processing document</label>
          <div class="col-sm-2">
          {% render_field form.tech4b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Changing the color of text in a word processing document</label>
          <div class="col-sm-2">
          {% render_field form.tech5b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Cutting and pasting text in a word processing document</label>
          <div class="col-sm-2">
          {% render_field form.tech6b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Locating a file you saved on a computer last week</label>
          <div class="col-sm-2">
          {% render_field form.tech7b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Re-naming and re-saving a file</label>
          <div class="col-sm-2">
          {% render_field form.tech8b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Using email that you access through a web browser</label>
          <div class="col-sm-2">
          {% render_field form.tech9b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Using mobile apps on a phone</label>
          <div class="col-sm-2">
          {% render_field form.tech10b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Opening a file in a spreadsheet program</label>
          <div class="col-sm-2">
          {% render_field form.tech11b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Moving information between columns in a spreadsheet program</label>
          <div class="col-sm-2">
          {% render_field form.tech12b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Writing and using a formula in a spreadsheet program</label>
          <div class="col-sm-2">
          {% render_field form.tech13b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Using social media like Twitter or Facebook</label>
          <div class="col-sm-2">
          {% render_field form.tech14b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Writing a blog post</label>
          <div class="col-sm-2">
          {% render_field form.tech15b class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Using the command line</label>
          <div class="col-sm-2">
          {% render_field form.tech16b class+="form-control" %}
          </div>
        </div><!-- E -->


    <br><br>
    <h3>Using different kinds of computers </h3>
    <hr class="form">

    <div><p>If you've used more than one kind of computer system (like Mac, Windows, or Linux), we have a few extra questions for you - but if you haven't, you can skip this part.</p>

    <p>On a scale of 1-5 (where 1 means "I don't know what this is," and 5 means "I know this really well"), how familiar are you with:</p></div><br>
        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Using a Windows computer</label>
          <div class="col-sm-2">
          {% render_field form.tech1s class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Using a Mac computer</label>
          <div class="col-sm-2">
          {% render_field form.tech2s class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label left">Using a Linux computer</label>
          <div class="col-sm-2">
          {% render_field form.tech3s class+="form-control" %}
          </div>
        </div><!-- E -->

    <br><br>
    <h3>Coding</h3>
    <hr class="form">
    <div><p>We expect that most people doing this application haven't done any coding before, but we'd like to ask you a few questions if you have.</p>
    <p>On a scale of 1-5 (where 1 means "I don't know what this is," and 5 means "I know this really well"), how familiar are you with:</p></div><br>
        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label pull-left">Building a web page with HTML</label>
          <div class="col-sm-2">
          {% render_field form.tech1c class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label pull-left">Styling a web page with CSS</label>
          <div class="col-sm-2">
          {% render_field form.tech2c class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label pull-left">Writing code and scripts in Python</label>
          <div class="col-sm-2">
          {% render_field form.tech3c class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label pull-left">Writing code and scripts in another programming language</label>
          <div class="col-sm-2">
          {% render_field form.tech4c class+="form-control" %}
          </div>
        </div><!-- E -->

        <div class="form-group"><!-- S -->
          <label class="col-sm-6 control-label pull-left">Developing web applications using a web development framework like Rails, Django, .NET, node.js/Express/AngularJS, or something else</label>
          <div class="col-sm-2">
          {% render_field form.tech5c class+="form-control" %}
          </div>
        </div><!-- E -->


        <div class="form-group"><!-- S XXX-->
            <br><br>
          <div class="col-sm-4 col-sm-offset-8">
            <div onClick='location.href="{% url 'index' %}"' class="btn btn-lg btn-default">
          Cancel
            </div>
            <button id="next" type="submit" class="btn btn-lg btn-form btn-success">Save these answers &gt; &gt;</button>
          </div><br><br><br><br><br>
        </div><!-- E -->

    
</form><!-- Form End-->
</div><!-- Form End-->


{% endblock %}
